.container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    display: flex;
    align-items: center;
}

.box {
    width: 100%;
    height: 95%;
}

.left {
    background-image: url("iewek-gnos-0-oPmFrlubo-unsplash.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	/* width: 100%; */
}

.right {
    background-color:lightpink;
	opacity: 0.55;
	width:40%;
	height: 75%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	
}

.right p {
	font-family: 'Amatic SC', cursive;
	font-size: 3em;
	padding-left: 20%;
	padding-bottom: 10%;
	font-size: calc(100% + 4vh);
	font-weight: 500;
}

.right p:first-child {
	padding-left: 10%;
	padding-bottom: 10%;
	font-style: normal;
	font-size: calc(100% + 11vh);
	font-weight: normal;
	/* font-size: 6em; */
}

.right p:last-child {
	/* font-size: 2em; */
	/* padding-left: 100px; */
	/* font-style: italic; */
	/* opacity: 0.8; */
}

img:hover {
	transform: scale(1.1);
}
